html,
body {
  height: 100%;
  margin: 0;
}

header {
  height: 15%;
  text-align: center;
  margin: 30px;
}

section {
  padding-bottom: 90px;
}

button {
  width: 300px;
  border-radius: 30px;
  background-color: #fcc;
  border: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.link a {
  color: white;
}

#wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.center {
  text-align: center;
}
