.checked {
  color: blue;
}

.header a {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.container {
  height: 80%;
  width: 100%;
  justify-items: center;
}

.container-item {
  width: 760px;
  height: 150px;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin: 15px;
}

.img-container {
  margin: 20px;
  padding: 3px;
}

.img-container img {
  border-radius: 20px;
}

.img-container img:hover {
  border: 3px solid black;
}

.text-container {
  width: 500px;
  justify-content: flex-start;
}

section li {
  list-style-type: disc;
}

.right-item {
  text-align: left;
}

.flex-item {
  width: 300px;
}

li .border {
  width: 200px;
  height: 24px;
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 10px;
}

details {
  text-align: center;
}

summary::marker {
  content: "";
}

.content-container {
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  gap: 70px;
}

.container {
  text-align: center;
}

.content {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 30px;
}
