.header a {
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

section {
  margin-left: 100px;
  margin-right: 100px;
}

section ul {
  list-style: disc;
}

.column-1fr-2fr {
  grid-template-columns: 1fr 2fr;
}

section ul {
  width: 81px;
  height: 32px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.checked {
  color: #ff00c7;
}

.layout-flex {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.text-container {
  width: 1000px;
}

.sub-title {
  height: 80%;
}

.left-item {
  width: 60%;
  height: 80%;
}

.right-item {
  width: 40%;
  height: 80%;
}

.input-container {
  display: flex;
}

input {
  height: 24px;
  width: 100px;
  margin: 10px;
  border-radius: 20px;
}

.right-item input {
  width: 300px;
  margin: 10px;
}
